.popup-cards-container{
    position: absolute;
    z-index: 10;
    .container-card{
        width: 250px;
        height: 132px;
        display: block;
        position: relative;
        background-color: #FFF;
        border: solid 1px #ebebeb;
        border-radius: 8px;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 8%);
        .card{
            .current-date{
                margin: 16px 16px 0px 16px;
                font: 700 1.4rem 'Inter', sans-serif;
            }
            .previous-date{
                padding: 6px 16px 16px 16px;
                font: 400 1.2rem 'Inter', sans-serif;
                color: #b3b3b3;
                border-bottom: solid 1px #EBEBEB;
            }
            .total{
                display: inline-block;
                margin: 8px 16px;
                font: 700 1.4rem 'Inter', sans-serif;
            }
            .current-total{
                float: right;
                margin: 8px 16px;
                font: 400 1.4rem 'Inter', sans-serif;
            }				
            .previous-total{
                text-align: end;
                margin: 0px 16px 16px 16px;
                font: 400 1.2rem 'Inter', sans-serif;
                color: #b3b3b3;
            }
        }
    }
    .container-card-1{
        top: 103px;
        left: 203px;
        display: none;
    }
    .container-card-2{
        top: 183px;
        left: 237px;
        display: none;
    }
    .container-card-3{
        top: 23px;
        left: 270px;
        display: none;
    }
}