.tri-cards-container{
    display: block;
    .tri-cards-title{
        display: block;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 2.2rem;
        margin: 40px;
    }
    .cards-container{
        display: flex;
        margin: 0px 40px;
        justify-content: space-between;
        .card-spacer{
            margin: auto;
        }
        .card{
            display: inline-block;
            border-radius: 8px;
            width:350px;
            border: solid 1px #EBEBEB;
            background-color: #FFF;
            filter : drop-shadow(0px 4px 4px rgba(0,0,0,5%));

            .card-title{
                display: flex;
                justify-content: space-between;
                .card-title-title{
                    color: #000;
                    margin: 8px 16px;
                    font: 700 1.6rem 'Inter', sans-serif;
                }
                .card-title-comment{
                    color: #b3b3b3;
                    margin-top: 10px;
                    margin-right: 16px;
                    font: 400 1.2rem 'Inter', sans-serif;
                }
            }

            .card-numbers{
                display: flex;
                justify-content: space-between;
                border-top: solid 1px #ebebeb;
                border-bottom: solid 1px #ebebeb;
                .card-numbers-euros{
                    color: #000;
                    margin: 16px;
                    font: 700 2.4rem 'Inter', sans-serif;
                }
                .card-numbers-quantity{
                    color: #000;
                    margin: 16px 15px;
                    font: 400 2.4rem 'Inter', sans-serif;
                }
            }

            .card-compare{
                color: #000;
                margin: 8px 16px 10px 16px;
                font: 700 1.6rem 'Inter', sans-serif;
            }
        }
        .center-card{
            margin: 0 30px;
        }
        .card-total{
            display: flex;
            justify-content: space-between;
            .card-lastyear{
                color: #B3B3B3;
                margin: 0px 16px 16px 16px;
                font: 400 1.2rem 'Inter', sans-serif;
            }
        }
    }
}