@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'sidebar';

@mixin hideScrollbar(){
	&::-webkit-scrollbar {
	display: none;
  	}
	-ms-overflow-style: none;
	scrollbar-width: none;
}

* {
    margin: 0;
	padding: 0;
}

html{
    font-size: .625em; /* pour compatibilité IE8+ */
    font-size: calc(1em * .625); /* pour compatibilité IE9-IE11 */
}

body{
	font-family: 'Inter', sans-serif;
    font-size: 1.4em;
}

.page-container{
	height: 100vh;
	max-width: 100vw;
	display: flex;
	overflow: hidden;

	// contenu SCSS sidebar ( @import 'sidebar'; )
	
	.statistics-container{
		float: right;
		height: 100%;
		width: 100%;
		display: block;
		.statistics-title{
			font-size: 2.6rem;
			font-weight: 700;
			padding: 20px 50px;
		}
		.datefilter-container{
			display: block;
			background-color: #FBFBFB;
			border-top: solid 1px #EBEBEB;
			border-bottom: solid 1px #EBEBEB;
			.timescale{
				float: right;
				margin: 50px 40px 0px 0px;
				.timescale-button{
					font-family: 'Inter', sans-serif;
					font-weight: 500;
					font-size: 1.4rem;
					border:solid 1px #EBEBEB;
					background-color: #FFF;
					padding: 8px 10px;
					margin-right: -5px;
					color: #4D4D4D;
					outline: none;
					@include popup-deso($sb-bg-bottom, -35%, -170%);
				}
				.timescale-button-selected{
					font-weight: 700;
					color: #0071F2;
				}
				button:first-child{
					border-radius: 8px 0px 0px 8px;
				}
				button:last-child{
					border-radius: 0px 8px 8px 0px;
				}
			}
		}
	}

	.scrollbar-container{
		display: inline-block;
		margin: auto;
		position: relative;
		left: 50%;
		transform: translate(-50%,0);
		.month-container{
			display: flex;
			max-width: 80vw;
			margin: 20px 38px;
			.month-flex{
				display: flex;
				overflow:auto;
				@include hideScrollbar();
				button{
					margin-left: -2px;
					padding: 10px 20px;
					background-color: #fff;
					outline: none;
					border: solid 1px #ebebeb;
					&:hover{
						background-color: #ebebeb;
					}
					&:focus{
						@include popup-deso($sb-bg-bottom, -50%, -50%);
						&::after{
							top:-20px;
							left:50%;
						}
					}
					.month{
						font-family: 'Inter', sans-serif;
						font-weight: 700;
						font-size: 1.4rem;
						color: #000;
					}
					.month-selected{
						color: #0071F2;
					}
					.year{
						font-family: 'Inter', sans-serif;
						font-weight: 500;
						font-size: 1.2rem;
						color: #4d4d4d;
					}
				}
			}
			.month-arrow{
				padding: 0px 15px;
				border: solid 1px #ebebeb;
				background-color: #fff;
				outline:none;
				color: #4D4D4D;
				font-family: 'Inter', sans-serif;
				font-weight: 700;
				font-stretch: 50%;
				&:hover{
					background-color: #ebebeb;
				}
			}
			.month-prev-arrow{
				#prev-arrow{
					fill:#000;
				}
				margin-right: -2px;
				border-right: 0;
				border-bottom-left-radius: 8px;
				border-top-left-radius: 8px;
			}
			.month-next-arrow{
				svg{
					transform: rotate(180deg);
					#next-arrow{
						fill: #B3B3B3;
					}
				}
				z-index: 5;
				margin-left: -2px;
				border-left: 0;
				border-bottom-right-radius: 8px;
				border-top-right-radius: 8px;
			}
		}
	}

}