@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'sidebar';
@import 'timescale';
@import 'scrollbar';
@import 'chart-curve';
@import 'popup-cards';
@import 'chartist';
@import 'tri-cards';
@import 'table-card';

* {
    margin: 0;
	padding: 0;
}

html{
    font-size: .625em; /* pour compatibilité IE8+ */
    font-size: calc(1em * .625); /* pour compatibilité IE9-IE11 */
}

body{
	font-family: 'Inter', sans-serif;
    font-size: 1.4em;
}

.page-container{
	max-width: 100vw;
	display: flex;
	overflow-x: hidden;

	// @ _sidebar.scss

	// @ _timescale.scss

	// @ _scrollbar.scss

	// @ _chart-curve.scss

	// @ _popup-cards.scss

	// @ _chartist.scss

	// @ _tri-card.scss

	// @ _table-card.scss

}

