@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'sidebar';

@mixin hideScrollbar(){
	&::-webkit-scrollbar {
	display: none;
  	}
	-ms-overflow-style: none;
	scrollbar-width: none;
}

* {
    margin: 0;
	padding: 0;
}

html{
    font-size: .625em; /* pour compatibilité IE8+ */
    font-size: calc(1em * .625); /* pour compatibilité IE9-IE11 */
}

body{
	font-family: 'Inter', sans-serif;
    font-size: 1.4em;
}

.page-container{
	max-width: 100vw;
	display: flex;
	overflow-x: hidden;

	// contenu SCSS sidebar ( @import 'sidebar'; )
	
	.statistics-container{
		float: right;
		height: 100%;
		min-width: auto;
		display: block;
		.statistics-title{
			font-size: 2.6rem;
			font-weight: 700;
			margin: 24px 40px;
		}
		.grey-background-container{
			display: block;
			background-color: #FBFBFB;
			border-top: solid 1px #EBEBEB;
			border-bottom: solid 1px #EBEBEB;
			.timescale{
				float: right;
				margin: 40px 40px 24px 0;
				.timescale-button{
					font-family: 'Inter', sans-serif;
					font-weight: 500;
					font-size: 1.4rem;
					border:solid 1px #EBEBEB;
					background-color: #FFF;
					padding: 8px 10px;
					margin-right: -5px;
					color: #4D4D4D;
					outline: none;
					@include popup-deso($sb-bg-bottom, -35%, -170%);
				}
				.timescale-button-selected{
					font-weight: 700;
					color: #0071F2;
				}
				button:first-child{
					border-radius: 8px 0px 0px 8px;
				}
				button:last-child{
					border-radius: 0px 8px 8px 0px;
				}
			}
		}
	}

	.scrollbar-container{
		display: inline-block;
		margin: auto;
		position: relative;
		left: 50%;
		transform: translate(-50%,0);
		.month-container{
			display: flex;
			max-width: 1110px;
			margin: 0px 38px 24px 38px;
			.month-flex{
				display: flex;
				overflow:auto;
				@include hideScrollbar();
				button{
					margin-left: -2px;
					padding: 10px 20px;
					background-color: #fff;
					outline: none;
					border: solid 1px #ebebeb;
					&:hover{
						background-color: #ebebeb;
					}
					&:focus{
						@include popup-deso($sb-bg-bottom, -50%, -50%);
						&::after{
							top:-20px;
							left:50%;
						}
					}
					.month{
						font-family: 'Inter', sans-serif;
						font-weight: 700;
						font-size: 1.4rem;
						color: #000;
					}
					.month-selected{
						color: #0071F2;
					}
					.year{
						font-family: 'Inter', sans-serif;
						font-weight: 500;
						font-size: 1.2rem;
						color: #4d4d4d;
					}
				}
			}
			.month-arrow{
				padding: 0px 15px;
				border: solid 1px #ebebeb;
				background-color: #fff;
				outline:none;
				color: #4D4D4D;
				font-family: 'Inter', sans-serif;
				font-weight: 700;
				font-stretch: 50%;
				&:hover{
					background-color: #ebebeb;
				}
			}
			.month-prev-arrow{
				#prev-arrow{
					fill:#000;
				}
				margin-right: -2px;
				border-right: 0;
				border-bottom-left-radius: 8px;
				border-top-left-radius: 8px;
			}
			.month-next-arrow{
				svg{
					transform: rotate(180deg);
					#next-arrow{
						fill: #B3B3B3;
					}
				}
				z-index: 5;
				margin-left: -2px;
				border-left: 0;
				border-bottom-right-radius: 8px;
				border-top-right-radius: 8px;
			}
		}
	}


	.chart-container{
		width: 80vw;
		#month-chart{
			height: 500px;
			width: 1190px;
		}
	}



	.tri-cards-container{
		display: block;
		.tri-cards-title{
			display: block;
			font-family: 'Inter', sans-serif;
			font-weight: 700;
			font-size: 2.2rem;
			margin: 40px;
		}
		.cards-container{
			display: flex;
			margin: 0px 40px;
			justify-content: space-between;
			.card-spacer{
				margin: auto;
			}
			.card{
				display: inline-block;
				border-radius: 8px;
				width:350px;
				border: solid 1px #EBEBEB;
				background-color: #FFF;
				filter : drop-shadow(0px 4px 4px rgba(0,0,0,5%));

				.card-title{
					display: flex;
					justify-content: space-between;
					.card-title-title{
						color: #000;
						margin: 8px 16px;
						font: 700 1.6rem 'Inter', sans-serif;
					}
					.card-title-comment{
						color: #b3b3b3;
						margin-top: 10px;
						margin-right: 16px;
						font: 400 1.2rem 'Inter', sans-serif;
					}
				}

				.card-numbers{
					display: flex;
					justify-content: space-between;
					border-top: solid 1px #ebebeb;
					border-bottom: solid 1px #ebebeb;
					.card-numbers-euros{
						color: #000;
						margin: 16px;
						font: 700 2.4rem 'Inter', sans-serif;
					}
					.card-numbers-quantity{
						color: #000;
						margin: 16px 15px;
						font: 400 2.4rem 'Inter', sans-serif;
					}
				}

				.card-compare{
					color: #000;
					margin: 8px 16px 10px 16px;
					font: 700 1.6rem 'Inter', sans-serif;
				}
			}
			.center-card{
				margin: 0 30px;
			}
			.card-total{
				display: flex;
				justify-content: space-between;
				.card-lastyear{
					color: #B3B3B3;
					margin: 0px 16px 16px 16px;
					font: 400 1.2rem 'Inter', sans-serif;
				}
			}
		}
	}

	.table-card-container{
		margin-bottom: 40px;
		.table-card-title{
			color: #000;
			margin: 40px;
			font: 700 2.2rem 'Inter', sans-serif;
		}
		.table-card{
			border-radius: 8px;
			min-width: 1110px;
			margin: auto;
			border: solid 1px #EBEBEB;
			background-color: #FFF;
			filter : drop-shadow(0px 4px 4px rgba(0,0,0,5%));
			.first-line{
				.date{
					padding:16px;
					font: 700 1.4rem 'Inter', sans-serif;
				}
				.title{
					text-align: right;
					font: 700 1.4rem 'Inter', sans-serif;
				}
				.transactions{
					text-align: center;
					padding-right: 80px;
					font: 400 1.2rem 'Inter', sans-serif;
				}
			}
			.new-line{

				.new-date{
					padding:16px;
					font: 400 1.4rem 'Inter', sans-serif;
				}
				.revenue{
					text-align: right;
					font: 700 1.4rem 'Inter', sans-serif;
				}
				.new-revenue{
					text-align: right;
					font: 400 1.4rem 'Inter', sans-serif;
				}
				.transactions{
					color: #b3b3b3;
					text-align: center;
					padding-right: 80px;
					font: 400 1.2rem 'Inter', sans-serif;
				}
				&::after{
					content: "";
					position: absolute;
					min-width: 1110px;
					transform: translate(-1110px,-5px);
					border-top: solid 1px #EBEBEB;
					margin: 3px;
				}
			}
		}
	}

}

